.section-sign-in{

.cover-section-signin{
    background: url('./public/img/shebaEventCentre.png') center  center no-repeat;
    background-size: cover;
     min-height: 100vh;
}



.sigininnersection{
    background: rgba(0,0,0,0.8);
    margin-top: 80px;
}

hr{
    border-color: #ffffff;
    /* border-width: 10px; */
}

.signin-section{
    margin-top: 160px;

}


}

.cover-section-signup{
    background: url('./public/img/eventCenter3.jpg') center center no-repeat;
    background-size: cover;
    min-height: 100vh;

.sigUpsection{
    background: rgba(0,0,0,0.8);
}    

}

.pag-position-center{
    text-align: center;
    justify-content: center;
}
.adjust-card-imag{
    height: 150px;
}
.adjust-margin{
    margin-bottom: 4px;
}

.section-cover-user{
    background: #222 url('./public/img/eventCenter2.jpg') center center no-repeat;
    background-size: cover;
    min-height: 88vh;

}
        .eventlist{
        overflow-y: scroll;
        height: 300px;
    }

.event-body{
    background: rgba(255,255,255,0.8);
    color: #000000;
}

.section-cover-admin-home-page{
    background: #222 url('./public/img/eventCenter3.jpg') center center no-repeat;
    background-size: cover;
    min-height: 88vh;
}

.section-cover-viewcenter{
    background: #222 url('./public/img/eventCenter2.jpg') center center no-repeat;
    background-size: cover;
    min-height: 88vh;

    .center-input-field{
        width: 77% !important; 
        margin-right: 6px;
       }

    .center-btn-search{
        height: 34px;
    }
}
.pagination {
    justify-content: center;
    margin-bottom: 1em;
    margin-top: 0.5em;
   }

   .em-align-center-items{
       justify-content: center;
   }

   .em-card-width{
       max-width: 20rem;
   }
.center-header{
    a:hover{
        background: #2e7cf6;
        color: #ffffff;
    }
}