.section-sign-in{

.cover-section-signin{
    background: url('./public/img/eventcenter.jpg') center  center no-repeat;
    background-size: cover;
     min-height: 100vh;
}

.sigininnersection{
    background: rgba(0,0,0,0.8);
    margin-top: 80px;
}

hr{
    border-color: #ffffff;
    /* border-width: 10px; */
}

}

.cover-section-signup{
    background: url('./public/img/eventcenter.jpg') center center no-repeat;
    background-size: cover;
    min-height: 100vh;

.sigUpsection{
    background: rgba(0,0,0,0.8);
}    

}

.section-cover-user{
    background: #222 url('./public/img/eventCenter2.jpg') center center no-repeat;
    background-size: cover;
    min-height: 85vh;

}

.event-body{
    background: rgba(255,255,255,0.8);
    color: #000000;
}
.section-cover-admin-home-page{
    background: #222 url('./public/img/eventCenter3.jpg') center center no-repeat;
    background-size: cover;
    min-height: 85vh;
}