.section-sign-in{

.cover-section-signin{
    background: url('./public/img/eventcenter.jpg') center  center no-repeat;
    background-size: cover;
     min-height: 100vh;
}

.sigininnersection{
    background: rgba(0,0,0,0.8);
    margin-top: 80px;
}

hr{
    border-color: #ffffff;
    /* border-width: 10px; */
}

}

.cover-section-signup{
    background: url('./public/img/eventcenter.jpg') center center no-repeat;
    background-size: cover;
    min-height: 100vh;

.sigUpsection{
    background: rgba(0,0,0,0.8);
}    

}