{
    "presets": [
        "env",
        "react"
        
    ],
    "env": {
        "test": {
          "presets": [["env"], "react"]
        }
      },
      "plugins": [
        "babel-plugin-transform-object-rest-spread"
      ]
}
