{
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "es6": true
        }
    },
    "plugins": [
        "import"
    ],
    "globals": {
        "window": true,
        "location": true,
        "localStorage": true,
        "expect": true,
        "jest": true,
        "document": true
    },
    "root": true,
    "extends": "airbnb-base",
    "env": {
        "node": true,
        "es6": true,
        "mocha": true,
        "jquery": true
    },
    "rules": {
        "max-len": [
            "error",
            200,
            {
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true
            }
        ],
        "one-var": 0,
        "no-unused-vars": 0,
        "no-param-reassign": 0,
        "array-callback-return": 0,
        "func-names": 0,
        "import/no-unresolved": [
            2,
            {
                "commonjs": true
            }
        ],
        "no-shadow": [
            "error",
            {
                "allow": [
                    "req",
                    "res",
                    "err"
                ]
            }
        ],
        "valid-jsdoc": 0,
        "require-jsdoc": 0
    }
}